<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&family=Nunito:wght@300&display=swap" rel="stylesheet">
  <title>Account created - Mobcare</title>
  <style>
    *{
      font-family: Nunito;
    }
    body {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f0f0f0; /* Set a background color for the entire page */
    }

    .center-box {
      width: 18rem;
      height: auto;
      padding: 1rem;
      background-color: white;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px 0px, rgba(0, 0, 0, 0.06) 0PX 1px 2px 0px;
    }

    img{
        display: block;
        margin: auto;
        width: 50%;
    }

    .message {
      font-size: 18px;
      color: #333;
      margin-top: -2.8rem;
      text-align: center;
    }

    ul{
        margin-top: -1rem;
        margin-left: -2.5rem;
        width: 100%;
    }

    ul li{
        list-style: none;
        text-align: center;
    }

    span{
        width: 72%;
        font-size: 0.8em;
        margin-top: 1.5rem;
        text-align: center;
    }

    @media screen and (min-width: 720px){
      .center-box {
      width: 25rem;
      height: 36rem;
      }
    }
    
  </style>
</head>
<body>

  <div class="center-box">
      <img src="https://res.cloudinary.com/dbfue99qr/image/upload/v1694772669/phoenix/phoenix-uploads/tick_ie8hgn.png" alt="" srcset="">
    <h1 style="color: #00a24a;  font-family: 'Nunito', serif; font-weight: bold; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);">Account Created!</h1>
    <p class="message">
        <h2 style="color: #046599; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)">Details:</h2>
        <ul>
          <li >Account Number: </li>
          <li style="color: #046599; margin-bottom: .4rem; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)"><b><%= acctNoParam %></b></li>
          <li  >Name: </li>
          <li style="color: #046599;  margin-bottom: .4rem; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)"><b><%= fullName %></b></li>
          <li  >Bank:</li>
          <li style="color: #046599;  margin-bottom: .4rem; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)"><b>Hope PSB</b></li>
        </ul>
        <span style="color: rgb(83, 75, 75);">Disclaimer:</span>
        <span style="color: rgb(83, 75, 75);">Note: Your phone number is your login password.
          <br>
          You will transfer to the above account number to fund your wallet.
          <br>
          You have also been sent a notification Email containing your registration details. 
          <br>
          Thank you for choosing Mobcare.
        </span>
    </p>
  </div>

</body>
</html>
