<!DOCTYPE html>
<html lang="en">            
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/subscription.css">
    <link rel="stylesheet" href="css/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <title>Mobcare - Subscription plans</title>
</head>
<body>
    <header class="container-fluid fade-slide-section">
        <div class="row">
            <div class="col-xs-6" >
                <img class="logo" src="css/img/logo1.png" alt="Mobcare logo">
            </div>
            <div class="col-xs-6">
                
            </div>
        </div>
    </header>

    <div class="plans container-fluid">
        <div class="row">
            <div class="imgCont col-sm-12 col-md-12 hidden-xs">
                <img src="css/img/logo2.png" alt="" srcset="">
            </div>
            <div class="col-sm-12 col-md-12">
                <h2>Subscription Plans</h2>
                <table class="table" style="border-bottom: 1px solid #046599;">
                    <thead>
                        <tr>
                            <th>VALUE OF DEVICE</th>
                            <th>ANNUAL PREMIUM</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>N10,000 - N70,000</td>
                            <td>N12,000</td>
                        </tr>
                        <tr class="info">
                            <td>N71,000 - N200,000</td>
                            <td>N15,000</td>
                        </tr>
                        <tr>
                            <td>N121,000 - N200,000</td>
                            <td>N20,000</td>
                        </tr>
                        <tr class="info">
                            <td>N201,000 - 300,000</td>
                            <td>N30,000</td>
                        </tr>
                        <tr>
                            <td>N301,000 - N400,000</td>
                            <td>N40,000</td>
                        </tr>
                        <tr class="info">
                            <td>N401,000 - N500,000</td>
                            <td>N50,000</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <td>Waiting Period</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Annual Subscribers </td>
                            <td>-   2 Months</td>
                        </tr>
                        <tr >                            
                            <td>Monthly Subscribers </td>
                            <td>-   6 Months</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" style="margin-top: 4rem;">
                    <thead>
                        <tr>
                            <th>THEFT/LOSS POLICY PREMIUM SUBSCRIPTION</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1<sup>st</sup> Year</td>
                            <td>30% of the value of the device</td>
                        </tr>
                        <tr class="info">
                            <td>2<sup>nd</sup> Year of unclaimed Premium</td>
                            <td>20% of the value of the device</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <td>Waiting Period</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>Annual Subscribers </td>
                            <td>-   3 Months</td>
                        </tr>
                        <tr >                            
                            <td>Monthly Subscribers </td>
                            <td>-   6 Months</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn"><a href="/signup" style="color: white;">Sign Up </a><span class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
    </div>
    
</body>
</html>